.calc-display {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 18pt;
    text-align: right;
    padding: 5px;
}

.calc-keypad {
    display: inline-block;
    background-color: gray;
}

.calc-keypad table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.calc-keypad table col {
    width: 50px;
}

.calc-keypad table td {
    border: none;
    padding: 0;
    width: 50px;
    height: 40px;
    position: relative;
}

.calc-keypad button {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}