.calc-display {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 18pt;
    text-align: right;
    padding: 5px;
}

.calc-operator {
    font-size: 10pt;
    float: left;
}

.calc-keypad {
    display: inline-block;
    background-color: gray;
}

.calc-keypad table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.calc-keypad table col {
    width: 50px;
}

.calc-keypad table td {
    border: none;
    padding: 0;
    width: 50px;
    height: 40px;
}

.calc-keypad button {
    display: block;
    width: 100%;
    height: 100%;
}